.Conten_princi {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 5px;
}

.conten_boton {
    width: 90%;
    display: flex;
    padding-left: 45px;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    margin: 20px;
}

.page {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

.conten__input {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    
}

.buttonTop {
    background-color: transparent;
    border: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5%;
    bottom: 40px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: green;
}

.conten__input-search {
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    border-bottom: 1px solid var(--color);
    transition: all .5s;
    color: rgb(0, 0, 0);
    background: none;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
}

.conten__input-search:hover {
    /* background:  linear-gradient(to bottom, transparent, rgb(14, 33, 55)); */
    border-bottom: 1px solid rgb(203, 133, 12);
    outline: none;
    color: rgb(247, 247, 247) / 20%;
    background-color: rgb(255, 255, 255);
}

.conten__input-search:focus {
    background: linear-gradient(to bottom, transparent, rgb(21, 12, 36));
}

.conten__input-search::placeholder {
    color: blanchedalmond / 30%;
}

.conten__input-search:focus {
    border-bottom: 2px solid rgb(221, 120, 47);
}

.conten_boton p {
    font-size: 20px;
    color: beige;
}

.conten_boton button {
    background-color: rgb(203, 133, 12);
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    text-transform: uppercase;
    transition: .3s ease all;


    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    /*es para que respete los border redondeadosy que ingrese todo dentro 
    del boton */
}


.btn_next span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 40%;
}

.btn_next .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out;
    opacity: 0;
}

.btn_next:hover {
    background-color: rgb(83, 222, 45);
}

.btn_next:hover .icono {
    left: calc(100% - 50px);
    opacity: 1;
}

.btn_next svg {
    width: 35px;
    height: 35px;
}

.btn_next:hover span {
    left: 20px;
}


/* back */


.btn_back span {
    transition: .4s ease-in-out all;
    position: absolute;
    right: 40%;
}

.btn_back .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 40px;
    transition: .3s ease-in-out;
    opacity: 0;
}

.btn_back:hover {
    background-color: rgb(83, 222, 45);
}

.btn_back:hover .icono {
    right: calc(100% - 50px);
    opacity: 1;
}

.btn_back svg {
    width: 25px;
    height: 25px;
}

.btn_back:hover span {
    right: 20px;
}